.drop-down{
	background: white;
	margin: 30px;
	padding: 10 30 10 30;
	border-radius: 5px;
	width: 200px;
}

.jumbotron{
	background: white;
}

.profile-logo{
	height:100px;
	float:left;
	border-radius:50%;
}

.widget-list{
	padding:0px;
}

.widget-list li{
	padding: 5 10 5 20;
	list-style:none;
	border-bottom: 1px solid #f0f0f0;
}

.widget-list li:hover {
	background: #f1f1f1;
	cursor:pointer;
	border-radius:5px;
}

.no-border li{
	border: none !important;
}

.small-font{
	font-size:15px !important;
}

.material-box{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.material-box2{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.row-footer{
	background-color:#6F6F6F;
	margin:0px auto;
	padding: 20px 0px 20px 0px;
	list-style-type: none;
}

.row-footer .ul-li{
	list-style-type: none;
}

.navbar-inverse {
	background:#6F6F6F!important;
	border-radius: 0px!important;
	border: none!important;
}

.navbar-inverse a{
	color: #EEEEEE!important;
}

.navbar-inverse .navbar-nav li:hover{
	background-color: #212121;
}

.navbar-fixed-top {
	min-height: 60px!important;
}

.navbar-nav > li > a {
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	line-height: 60px!important;
}

.text-col{
	color: white;
	font-family:times;
	font-size: 16px;
}

.nopadding{
	padding: 0px;
}
ul, menu, dir {
	-webkit-padding-start: 0px;
}

.text-gray74{
	color:#E5E2C9;
	text-decoration: none;
}

a { 
	color: #8B785F;
	text-decoration: none!important;
} 

a:hover{ 
	color: #6F6F6F;
	text-decoration: none!important;
} 

.glyphicon:hover
{
    background-color:#44c5ff;
}

@media (max-width: 767px) {
	.carousel{
		padding: 0px;
		margin: -35px -8px -20px -8px;
	}

}